div{

    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    }

    

body{
    background-image: url("https://th.bing.com/th/id/OIP.EhyvDGRg1B4TeM-ZZ_jdJQHaJ4?w=140&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    
 }

 .Sanvi{
    background-color: blueviolet;
    
 }
 .abc{
    background-color: rgb(199, 47, 234);
    color: rgb(237, 188, 222);
    
    
    }
    a{
    color: rgb(166, 27, 225);
    }

    p{
      text-decoration: darkviolet ;
      stroke-width: 0dvh;

    }

    marquee{
     font-size: larger;
     font-style: italic;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    header{
        font-size: larger;
        font-style: italic;
    }
    projects.html{

        background-color: hotpink;
    }
    a:hover{
        font-size: larger;
        zoom: 0fr;
    }

    a:hover{
        font-size: larger;
        zoom: 0fr;
    }
    a:hover{
        font-size: larger;
        zoom: 0fr;
    }
    #m:hover{
      transform: scale(1.5);  
    }
    img:hover{
        zoom: 0fr;
    }
   
   h1{
   background-color: violet;
   font-size: larger;
   font-family: cursive;
   } 

   p{
    font-size: medium;
    font-family: cursive;
   }